/*
    logo-red:  #bc1e2c
*/

.feature-img {
    width: 100%;
}

#contact a[href^="tel:"]:before {
    content: "☎";
    margin-right: 0.5em;
}

a {
    color: #bc1e2c;
    text-decoration: none;
}

p {
    margin-bottom: 0.5em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0;
}

    /* logo */
    header h1 {
        color: #bc1e2c;
        font-family: "Josefin Slab",serif;
        font-size: 2.5em;
        font-weight: normal;
        margin: 0;
        width: -moz-min-content;
        width: -webkit-min-content;
        width: min-content;
    }

    header a {
        align-self: center
    }

        /* call button */
        header svg {
            fill: #FFCF13;
            width: 3.5em;
            transform: scaleX(-1);
        }

.container {
    margin-left: 1em;
}

#ruler {
    background: no-repeat no-repeat url("../images/woodgrainruler.jpg");
    height: 102px;
    margin-bottom: 20px;
}

#location {
    display: none;
    font-size: 1.5em;
    /*text-align: center;*/
}

@media (min-width: 640px) {
    #call_button {
        display: none;
    }

    #location {
        display: block;
    }
}