/*
    logo-red:  #bc1e2c
*/

.feature-img {
    width: 100%;
}

.contact a[href^="tel:"]:before {
    content: "☎";
    margin-right: 0.5em;
}

a {
    color: #bc1e2c;
    text-decoration: none;
}

p {
    margin-bottom: 0.5em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0;
}
    
    .component {
        flex: 0 0 auto;
    }

    /* logo */
    header h1 {
        color: #bc1e2c;
        font-family: "Josefin Slab",serif;
        font-size: 2.5em;
        font-weight: normal;
        margin: 0;
        width: -moz-min-content;
        width: -webkit-min-content;
        width: min-content;
    }

    header a {
        align-self: center;
    }

        /* call button */
        header svg {
            fill: #FFCF13;
            width: 3.5em;
            transform: scaleX(-1);
        }
    
    /*header location*/
    #location {
        align-self: flex-end;
        display: none;
        margin-bottom: .3em;
    }

        header p {
            color: #606060;
            font-weight: 300;
            font-size: 1.7em;
            margin-bottom: 0;
            
        }

        header strong {
            color: orange;
            font-weight: 500;
        }


.container {
    margin-left: 1em;
}

#ruler {
    background: no-repeat no-repeat url("../images/woodgrainruler.jpg");
    height: 102px;
    margin-bottom: 20px;
}



@media (min-width: 640px) {
    #call_button {
        display: none;
    }

    #location {
        display: block;
    }
}
body {
    display: flex;  /*sticky footer*/
    min-height: 100vh;  /*sticky footer*/
    flex-direction: column; /*sticky footer*/
    font-family: 'Open Sans', sans-serif;
}
#main {
    flex: 1;    /*sticky footer*/
}

footer {
    background: tomato;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
footer nav, 
footer .contact {
    width: -webkit-max-content;
    text-align: center;
}

